// Place all the styles related to the cloudposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin-top: 40px;
}

.cloudpost {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.cloudpost p {
	margin: 4px 0;
}

.cloudpost.hover {
	background: #F0F0F0;
}

.cloudpost .admin {
	display: none;
}

.cloudpost.hover .admin {
	display: inline;
}