// Place all the styles related to the tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gig {
	padding: 8px 0px;
	border-bottom: 1px solid #C0C0C0;
}

.gighead {
	background: #F0F0F0;
	font-size: 1.2em;
	font-spacing: 0.1em;
	padding: 2px 0px;
	
}

.gig:hover {
	background: #F0F0F0;
}